@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header_position{
    position: absolute;
    width: 100%;
    margin-top: 5vh;
}

.header-wrapper {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main-part{
    display: flex;
    align-items: center;
}

.header-main-part__logo{
    width:13%;
    height:13%;
}

.header-main-part-inf{
    display: flex;
    flex-direction: column;
}

.header-main-part-inf-links__link{ 
    font-family: PT Serif, serif;
    font-size:1.5em;
    color:white;
    text-decoration: none;
    margin:0 4px;
}

.header-main-part-inf-contacs__contact-ico{
    width:9%;
    height:9%;
}

.header-lang{
    margin-right: 4vh;
    display: inline-flex;
}

.header-lang__flag{
    width:5vh;
    height:3vh;
    margin: 0 1vh;
}

.main_position{
    width: 100%;
    margin-top: 0;
    margin:0;
    padding:0;
}

.section-1-titles-wrapper{
    background: url(../img/block-1-backgound.jpg) center no-repeat; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center; 
}

.section-1-titles{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: solid 1px white; 
    background-color: rgba(0, 0, 0, 53%);
    color:white;
    width: 55%;
}

.section-1-titles__title{
    font-weight:lighter;
}

.section-1-titles__title_styles-1{
    font-family: 'PT Serif', serif;
    font-size: 1.5;
}

.section-1-titles__title_styles-2{
    font-family: 'Playfair Display SC', serif;
    font-size: 3.5em;
}

.section-1-titles__title_position-1{
    margin-bottom:0;
    margin-top:1vw; 
}

.section-1-titles__title_position-2{
    margin:0;
    padding:0;
}

.section-1-titles__title_position-3{
    margin-top:0;
    margin-bottom:1vw;
}

.main-wrapper_position{
    margin-left: 4.75vw;
    margin-right: 4.75vw;
}

.section-2_m{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.section-2-columns-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section-2-column-1_w{
    width: 55%;
} 

.title{
    font-family: 'Open Sans', sans-serif;
    font-size: 3.5em;
    font-weight:bold;
    margin-bottom:1vh;
}

.text{
    font-family: PT Serif, serif;
    font-size: 1.2em;
    font-weight:lighter;
}

.section-2-column-2_w{
    width: 37%;
}

.section-2-column-2__img{
    width: 100%;
    height: 100%;
}

.section-3-columns_m{
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.section-3__title{
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size: 10em;
    font-weight: bold;
    padding: 2vh;
    background: url(../img/block-3-background.jpg);
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.section-3-columns{
    display: flex;
    align-items: top;
    justify-content:space-between;
}

.section-2-columns__link{
    color: #2599e6;
    font-weight: bold;
    text-decoration: none;
}

.section-3-column_w{
    width: 47%;
}

/*.s-title{
    font-family: PT Serif, serif;
    font-size: 1.4em;
    margin-bottom:1vh;
    margin-top:1vh;
    color:white;
    font-weight:lighter;
}

.s-text{
    text-indent: 0.7em;
    font-family: PT Serif, serif;
    font-size: 0.9em;
    font-weight:lighter;
    color:white;
}

.nav-links-s{
    color:white;
    text-decoration: none;
}

div#all-footer{
    background: #181617;
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding:3vh;
}

div#footer-1{
    width:50%;
}

div#footer-2{
    width:30%;
}

.f-links{
    color: #2599e6;
    font-weight: bold;
    text-decoration: none;
}

a#main-page{
    text-decoration:underline 2px;
    color: #2599e6;
}
 */
