/* @media screen and (min-width: 1024px){

    #main-name-1{
        font-size: 0.8em;
    }
    
    #main-name-2{
        font-size: 1.6em;
    }
    
    #main-name-3{
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1349px){

    a.flags>img{
        height: 3.6vh;
        width: 6vh;
    }

    h2#title-2{
        font-size: 13em;
    }

}

@media screen and (min-width: 1600px){

    #main-name-1{
        font-size: 0.9em;
    }
    
    #main-name-2{
        font-size: 1.8em;
    }
    
    #main-name-3{
        font-size: 0.9em;
    }

}

@media screen and (min-width: 1740px){

    h2#title-2{
        font-size: 14em;
    }

}

@media screen and (min-width: 1920px){

    #main-name-1{
        font-size: 1.2em;
    }
    
    #main-name-2{
        font-size: 2.4em;
    }
    
    #main-name-3{
        font-size: 1.2em;
    }
    
    h2#title-2{
        font-size: 15em;
    }

} */